/* AdBoards - public */

@media (min-width: 1310px) {

	body.adboard #wrapper {
		background-position-x: center;
		background-position-y: 40px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	body.adboard-has-link #wrapper {
		cursor: pointer;
	}

	body.adboard-has-link #wrapper .container,
	body.adboard-has-link #wrapper .tt-footer,
	body.adboard-has-link #wrapper #content-wrapper > .visible {
		cursor: default;
	}

	body.adboard .tt-header-wrapper,
	body.adboard #content-wrapper,
	body.adboard #page-wrapper {
		background: none;
	}

	body.adboard .tt-header-wrapper .container,
	body.adboard .toggle-block .toggle-block-container,
	body.adboard #content-wrapper > .container,
	body.adboard #page-wrapper .container {
		background: #fff;
	}

	body.adboard .toggle-block .toggle-block-container .top-line .container {
		background: none;
	}

	body.adboard .tt-header-wrapper,
	body.adboard .tt-header .top-inner {
		border: 0;
	}

	body.adboard .tt-header .top-inner {
		padding: 0;
	}

	body.adboard .tt-header .top-inner .container {
		padding: 35px 0;
	}

	body.adboard .tt-header .cmn-mobile-switch {
		display: none;
	}

	body.adboard .tt-header .tt-s-popup-btn {
		bottom: -50px;
	}

	body.adboard .toggle-block .toggle-block-container {
		margin: auto;
		width: 1280px;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
	}

	body.adboard .empty-space {
		display: none;
	}

	body.adboard #page-wrapper > .container,
	body.adboard #content-wrapper > .container {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	body.adboard .tt-heading {
		margin-left: auto;
		margin-right: auto;
		width: 1280px;
		padding: 0;
		background-color: black;
	}

	body.adboard .tt-heading h1 {
		padding-top: 44px;
		padding-bottom: 44px;
	}

	/* FULL */

	body.home.adboard-full #content-wrapper > .container,
	body.no-title-heading.adboard-full #content-wrapper > .container {
		margin-top: 220px;
		padding-top: 180px;
	}

	body.adboard-full header .tt-header-wrapper,
	body.adboard-full header .tt-header-wrapper .nav-more {
		margin-top: 180px;
	}

	body.adboard-full .tt-heading {
		margin-top: 220px;
	}

	body.adboard-full .tt-heading .container {
		padding-top: 180px;
	}

	body.adboard-full header.stick .tt-header-wrapper,
	body.adboard-full header.stick .tt-header-wrapper .nav-more {
		margin-top: 0;
	}

	body.adboard-full .tt-header-height {
		display: none;
	}

}
